/* utilities */
.shrink-0 {
  flex-shrink: 0;
}
/* layout */
.box {
  border: 1px solid;
  padding: 16px;
  border-radius: 24px;
}
header {
  box-sizing: border-box;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

header .nav .logo {
}

header .nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header .nav .nav-links li {
  display: inline;
}

header .nav .nav-links li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

header .nav .nav-links li a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }
}
.hero-wrapper {
  padding: 8px;
  height: 100vh;
  z-index: -1;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  /* background: #007bff; */
  background: deeppink;

  color: #fff;
  border-radius: 16px;
  height: 100%;
}
.hero-container {
  height: 100svh;
  width: 100%;
  padding: var(--spacing-vw-2);
}
.hero-stack {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  padding-top: 3rem;
}
.hero-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: left;
}
.hero h1 {
  max-width: 10em;
}
@media (min-width: 768px) {
  .hero-wrapper {
    padding: 1rem;
  }
  .hero-container {
    padding: var(--spacing-vw-4);
  }
  .hero-inner {
    align-items: flex-end;
  }
  .hero-stack {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .hero-container {
    height: 100vh;
    padding: var(--spacing-vw-6);
    padding-left: var(--header-width) !important;
  }
}

/* sections */
.section-wrapper {
  padding: 1rem;
}
main.box {
  border-color: hsl(220deg 100% 50%);
  background-color: hsl(220deg 100% 50% / 0.2);
}

aside.box {
  border-color: hsl(300deg 100% 45%);
  background-color: hsl(300deg 100% 45% / 0.2);
}

footer.box {
  border-color: hsl(350deg 100% 60%);
  background-color: hsl(350deg 100% 60% / 0.2);
}
section.box {
  border-color: var(--border);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.middle {
  display: flex;
  flex: 1;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar {
  display: none;
}
.sidebar.open {
  display: none;
}
.mobile-sidebar {
  --header-width: 0;
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  left: var(--header-width);
  height: 100%;
  background-color: #ffffff;
  color: #121212;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.1s ease-in, visibility 0s linear 0.3s;
  transform: translateX(-100%);
  pointer-events: none;
  z-index: 2;
}
.mobile-sidebar.open {
  display: block;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0s;
  pointer-events: auto;
}
@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
  .mobile-sidebar.open {
    display: none;
  }
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    left: var(--header-width);
    height: 100%;
    background-color: #ffffff;
    color: #121212;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.1s ease-in, visibility 0s linear 0.3s;
    transform: translateX(-100%);
    pointer-events: none;
  }
  .sidebar.open {
    display: block;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0s;
    pointer-events: auto;
  }
}

.overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-out, visibility 0s;
}

.sidebar ul {
  font-family: var(--font-family-abc-arizona-flare-light), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  list-style: none;
  padding: 0;
  transition: opacity 0.1s ease-out;
  opacity: 0;
}
.sidebar.open ul {
  opacity: 1;
  transition: opacity 0.3s ease-out 0.188s;
}
.sidebar li {
  margin: 20px 0;
}
.sidebar a {
  text-decoration: none;
}

/* hamburger menu button */
.hamburger-menu-button-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}

.hamburger-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  z-index: 2;
  border-radius: var(--radius-sm);
  transition: background-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  color: var(--text-inverse);
}
.hamburger-menu-button:hover {
  background-color: var(--bg-hovered);
}
.hamburger-menu-button:active {
  background-color: var(--bg-pressed);
}
/* hamburger button focus styles */
.hamburger-menu-button:focus {
  outline: none;
}
.hamburger-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--border-focus), 0 0 0 6px var(--bg);
}
.hamburger-menu-button:focus:not(:focus-visible) {
  box-shadow: none;
}
.hamburger-menu-button:active {
  background-color: var(--bg-pressed);
}
.hamburger-menu-button svg {
  position: absolute;
  top: 15%;
  margin: 0 auto;
  /* transform: translate(-50%, -50%); */
  width: 32px;
  height: 32px;
  fill: currentColor;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
/* Show the nav menu when the hamburger menu button is focused */
.hamburger-menu-button:focus + .sidebar,
.sidebar:focus-within {
  display: block;
}
.header-burger-menu-svg-close {
  transform: scale(0);
  opacity: 0;
  color: var(--text);
}
.hamburger-menu-button.open .header-burger-menu-svg {
  transform: scale(0);
  opacity: 0;
}
.hamburger-menu-button.open .header-burger-menu-svg-close {
  transform: scale(1);
  opacity: 1;
}
@media (min-width: 768px) {
  .hamburger-menu-button-wrapper {
    position: absolute;
    top: revert;
    bottom: 20px;
    left: 20px;
    z-index: 2;
  }
  .hamburger-menu-button {
    background-color: var(--bg);
    color: var(--text);
  }
}
/* desktop nav */
.desktop-nav {
  display: none;
  position: sticky;
  top: 0;
  height: 100vh;
  width: var(--header-width);

  flex-direction: column;
  padding: 1rem;
  padding-top: 20px;
  z-index: 2;
  background-color: #ffffff;
  justify-content: center;
}
@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
  }
}
/* mobile nav */
.mobile-nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.nav-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border-radius: var(--radius-sm);
  transition: background-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  position: fixed;
  top: 24px;
  left: 22px;
}

@media (min-width: 768px) {
  .nav-logo-link {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

.nav-logo-link svg {
  width: 44px;
  height: 44px;
  fill: #ffffff;
}
.nav-logo-link:focus {
  outline: none;
}
.nav-logo-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--border-focus), 0 0 0 6px var(--bg);
}
.nav-logo-link:focus:not(:focus-visible) {
  box-shadow: none;
}
.nav-links {
  list-style: none;
  padding: 0;
}
.nav-links li {
  margin-bottom: 1rem;
}
.nav-links li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  border-radius: var(--radius-sm);
  transition: background-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 4px 12px;
}
.nav-links li a:hover {
  text-decoration: underline;
}
.nav-links a:focus {
  outline: none;
}
.nav-links a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--border-focus), 0 0 0 6px var(--bg);
}
.nav-links a:focus:not(:focus-visible) {
  box-shadow: none;
}
.nav-links {
  padding-top: 5rem;
}
@media (min-width: 768px) {
  .nav-links {
    padding-top: 0;
  }
}
@media (max-width: 1024px) {
  .header nav {
  }
  .hero {
    margin-left: 0;
  }
  .sidebar {
    /* display: none; */
  }
}

/* title */
.title-sm {
  font-family: var(--font-family-abc-arizona-flare-light), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 300;
  line-height: 0.97;
  letter-spacing: -0.07em;
  --text-scale-min: 2.5;
  --text-scale-max: 3;
  --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
  --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
  --text-scale-current-rem: calc(
    var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
  );
}
.title-md {
  font-family: var(--font-family-abc-arizona-flare-light), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 0.97;
  letter-spacing: -0.07em;
  font-weight: 300;

  --text-scale-min: 2.5;
  --text-scale-max: 4.5;
  --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
  --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
  --text-scale-current-rem: calc(
    var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
  );
  font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem));
}
.title-md-austin {
  font-family: var(--font-family-abc-arizona-flare-light), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 0.97;
  letter-spacing: -0.07em;

  --text-scale-min: 1.5; /* Adjust these values to make "Austin" smaller or larger */
  --text-scale-max: 3.5; /* Adjust these values to make "Austin" smaller or larger */
  --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
  --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
  --text-scale-current-rem: calc(
    var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
  );
  font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem));
  font-weight: 300;
  display: block;
  text-align: left;
}
.title-lg {
}
@media (min-width: 768px) {
  .title-md {
    flex-shrink: 0;
  }
}
/* paragraph */
.paragraph-md {
  font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem));
  --text-scale-min: 1.5;
  --text-scale-max: 1.5;
  --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
  --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
  --text-scale-current-rem: calc(
    var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
  );
  text-align: start;
}
/* menu link */
.menu-item {
  font-family: var(--font-family-sans-serif);
  line-height: 0.97;
  letter-spacing: -0.07em;
  font-weight: 300;

  --text-scale-min: 2.5;
  --text-scale-max: 4.5;
  --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
  --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
  --text-scale-current-rem: calc(
    var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
  );
  font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem));
}

@media (min-width: 768px) {
  .menu-item {
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    line-height: 0.97;
    letter-spacing: -0.04em;
    --text-scale-min: 2.5;
    --text-scale-max: 3;
    --text-scale-min-rem: calc(var(--text-scale-min) * 1rem);
    --text-scale-max-rem: calc(var(--text-scale-max) * 1rem);
    --text-scale-current-rem: calc(
      var(--text-scale-percentage) * (var(--text-scale-max) - var(--text-scale-min)) + var(--text-scale-min-rem)
    );
  }
}
@media (min-width: 1024px) {
  .title-sm,
  .menu-item {
    font-size: max(var(--text-scale-min-rem), var(--text-scale-current-rem));
  }
}
/* scroll */
.scroll-indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--bg-hovered);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.indicator.active {
  background-color: var(--bg-pressed);
  transform: scale(1.4);
}
